<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->

  <arg name="model" default="$(find LBR3R760iisy)/urdf/Urdf.urdf"/>
  <arg name="rvizconfig" default="$(find LBR3R760iisy)/rviz/rviz.rviz" /> 

 <!-- Load joint controller configurations from YAML file to parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
    <param name="rate" value="1"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/>

</launch>
